<template>
    <div>
        <button @click="update">Обновить список</button>
        <div v-for="user in users" :key="user.id" class="user">
            <div>
                Имя: {{user.name}}
            </div>
            <div>
                Почтовый ящик: {{user.email}}
            </div>
            <router-link :to="'/user/'+user.id">Посмотреть детально</router-link>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    export default {
        name: 'user-list',
        created: function () {
            if (_.isEmpty(this.$store.state.users)) {
                this.$store.commit('updateUsers')
            }
        },
        computed: {
            users() {
                return this.$store.state.users;
            }
        },
        methods: {
            update() {
                this.$store.commit('updateUsers')
            }
        }
    }
</script>

<style lang="scss">
    @import "../scss/colors.scss";

    .user {
        border: 1pt solid $dark;
        margin: 5pt;
        width: 300pt;
        padding: 5pt;
    }
</style>