<template>
    <div>
        <div>
            Id: {{user.id}}
        </div>
        <div>
            Имя: {{user.name}}
        </div>
        <div>
            Email: {{user.email}}
        </div>
        <router-link to="/">назад</router-link>
    </div>

</template>

<script>
    import _ from 'lodash';

    export default {
        name: 'user-info',
        computed: {
            user() {
                let users = this.$store.state.users;
                if (_.isEmpty(users)) {
                    this.$store.commit('updateUsers')
                } else {
                    for (let i = 0; i < users.length; i++) {
                        if (users[i].id == this.$route.params.id) {
                            return users[i];
                        }
                    }
                }
                return false;
            }
        },
    }
</script>