<template>
    <div id="app">
        <ul class="list">
            <li>
                <router-link to="/">Список пользователей</router-link>
            </li>
        </ul>
        <router-view/>
    </div>
</template>

<style lang="scss">
    .list {
        li {
            display: inline-block;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
</style>